<% if current_guest %>
  <%- tables.each do |table| %>
    <h3><%= table.name.gsub(/-/, ' ') %></h3>

    <% unless table.name == session[:current_table] %>
      <%= link_to "join", table_path(table), data: { turbolinks: false } %>
    <% end %>

    <ul>
      <%- table.guests.each do |guest| %>
        <li><%= guest.name %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with url: tables_path, method: :post do |f| %>
    <%= f.submit "Start a table" %>
  <% end %>

  <%= button_to "Leave the party", session_path, method: :delete %>
<% else %>
  <%= form_with url: session_path, method: :post do |f| %>
    <%= f.text_field :name, placeholder: "Name" %>
    <%= f.submit "Join the party" %>
  <% end %>
<% end %>
